/* @import url('http://fonts.cdnfonts.com/css/sifonn'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

@font-face {
  font-family: 'Sifonn Pro';
  src:
    url('./SIFONN_PRO.woff2') format('woff2'),
    url('./SIFONN_PRO.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Sifonn Pro', sans-serif;
  padding: 8vh 4vw;
  height: 100%;
  min-height: 100vh;
  background-image:
    linear-gradient(
      to bottom,
      #1a2537,
      #262b49,
      #3b2e58,
      #562f62,
      #742b65,
      #882b69,
      #9c296c,
      #b0276c,
      #c02c77,
      #d13182,
      #e1378d,
      #f23c98
    );
}

button {
  border-radius: 24px;
  box-shadow: 4px 4px 8px 1px rgb(0 0 0 / 20%);
  padding: 8px;
  background-color: #9c296c;
  color: white;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.72em;
  letter-spacing: 0.094em;
  transition: all 1s;
}

button:hover {
  box-shadow: none;
}

li {
  list-style: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

h1 {
  color: #fff;
  font-size: 2em;
  text-align: center;
}

input {
  height: 32px;
  padding: 8px;
  font-size: 1em;
  border-radius: 8px;
}

input::placeholder {
  font-family: 'Montserrat', sans-serif;
}

section {
  background: rgba(235, 236, 240, 0.92);
  padding: 16px;
  border-radius: 8px;
}

.container {
  margin-top: 40px;
}

/* section recent-scores */

.section-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 12px;
}

.scores {
  display: none;
  height: 100px;
  overflow-y: scroll;
  margin-top: 24px;
  border: 2px solid black;
  border-radius: 8px;
}

.scores::-webkit-scrollbar {
  width: 4px;
}

.scores::-webkit-scrollbar-thumb {
  background: black;
}

.scores::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  margin: 5px;
}

.scores::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.scores li {
  padding-left: 8px;
  font-size: 1em;
  line-height: 32px;
}

.scores li:nth-child(even) {
  background-color: rgb(197 197 197 / 20%);
}

/* recent add-score */

#add-score {
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 200px;
  justify-content: center;
  margin-top: 20px;
}

#add-score form {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#add-btn {
  width: min-content;
  margin-left: auto;
}

/* desktop version */
@media screen and (min-width: 700px) {
  h1 {
    text-align: start;
    font-size: 4em;
    margin-left: 10%;
  }

  h2 {
    font-size: 2em;
  }

  button {
    font-size: 1em;
    width: 130px;
    height: 48px;
  }

  li {
    font-size: 1.2em;
  }

  .container {
    display: grid;
    grid-template-columns: minmax(210px, 600px) minmax(210px, 500px);
    gap: 40px;
    padding: 0 16vw;
    justify-content: space-between;
  }

  #add-score {
    justify-content: start;
    padding: 24px;
    height: min-content;
    margin-top: 0;
  }

  #add-score button {
    width: 130px;
  }
}
